@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html , body{
    min-height: 100vh;
}

img,
picture,
svg {
    display: block;
    max-width: 100%;
    height: auto;
}

h1, 
h2, 
h3, 
h4 {
    margin: 0;
}

imput,
textarea,
button,
select {
    font: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style: none;
}

body {
    font-family: "Poppins", serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3c5077;
}

.submit-btn {
    border: none;
    outline: none;
    width: 150px;
    height: 40px;
    font-size: 20px;
    border-radius: 4px;
    color: #fff;
    background-color: #6fd649;
    cursor: pointer;
}

.pop-up {
    position: absolute;
    background-color: #fff;;
    text-align: center;
    padding: 32px;
    border-radius: 12px;
    padding-top: 90px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transform: translateY(-750px) scale(0);
    transition: transform 0.5s ease-in-out;
}

.pop-up img {
    width: 120px;
    height: 120px;
    position: absolute;
    top: 0;
    margin-inline: auto;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.pop-up h1 {
    font-size: 48px;
    font-weight: 500;
    margin-bottom: 20px;
}

.pop-up p {
    font-size: 20px;
    width: 35ch;
    margin-bottom: 35px;
}

.pop-up.appear {
    transform: translate(0);
}

.ok-btn {
    border: none;
    outline: none;
    width: 100%;
    font-size: 20px;
    padding: 18px 0;
    border-radius: 4px;
    color: #fff;
    background-color: #6fd649;
    box-shadow: 0 2px 5px #6fd649;
    cursor: pointer;
}

@media (max-width: 618px) {
    .pop-up {
        width: 90%;
        margin: 12px;
        padding: 60px 12px 30px 12px;
    }

    .pop-up img {
        width: 80px;
        height: 80px;
    }

    .pop-up h1 {
        font-size: 32px;
    }

    .pop-up p {
        font-size: 16px;
        width: 30ch;
        margin-inline: auto;
    }

    .ok-btn {
        padding-block: 14px;
    }
}