@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html , body{
    min-height: 100vh;
}

img,
picture,
svg {
    display: block;
    max-width: 100%;
    height: auto;
}

h1, 
h2, 
h3, 
h4 {
    margin: 0;
}

imput,
textarea,
button,
select {
    font: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style: none;
}

body {
    font-family: "Poppins", serif;
    background: #001e4d;
    padding: 12px;
}

.app {
    width: 90%;
    max-width: 600px;
    background-color: #fff;
    margin: 80px auto;
    border-radius: 10px;
    padding: 30px;
    display: grid;
    gap: 16px;
}

.app h1 {
    color: #001e4d;
}

.quiz-section {
    display: grid;
    gap: 24px;
}

.quiz-section h2 {
    color: #001e4d;
}

.answer-buttons {
    display: grid;
    gap: 18px;
}

.btn {
    color: #001e4d;
    text-align: left;
    padding: 8px;
    cursor: pointer;
    transition: all 0.3s;
    border: 0;
    outline: 0;
    border-radius: 8px;
    border: 1px solid #222;
}

.btn:hover:not(:disabled) {
    background-color: #001e4d;
    color: #fff;
}

.btn:disabled {
    cursor: no-drop;
}

.correct {
    background: hwb(120 0% 50% / 0.274);
}

.incorrect {
    background-color: rgba(255, 0, 0, 0.272);
}

.next-btn {
    width: 150px;
    margin: 12px auto;
    padding: 10px;
    outline: 0;
    border: 0;
    background-color: #001e4d;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}