@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html , body{
    min-height: 100vh;
}

img,
picture,
svg {
    display: block;
    max-width: 100%;
    height: auto;
}

h1, 
h2, 
h3, 
h4 {
    margin: 0;
}

imput,
textarea,
button,
select {
    font: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style: none;
}

body {
    font-family: "Poppins", serif;
    background-color: #250057;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
}

.container {
    max-width: 100%;
    width: 500px;
    padding: 20px;
    border-radius: 12px;
    background-color: #fff;
    display: flex;
    align-items: center;
    gap: 12px;
}

.container .text-input {
    font-size: 32px;
    width: 100%;
    border: none;
    outline: none;
    padding: 0 12px;
}

.container i {
    font-size: 32px;
    cursor: pointer;
}

@media (max-width: 420px) {
    .container {
        padding: 12px;
    }

    .container .text-input {
        font-size: 24px;
    }

    .container i {
        font-size: 24px;
    }
}